<th:block th:fragment="leftbarFragment">

    <div class="col-lg-2">
        <div class="list-group mt-lg-5">
            <h2 class="mx-2 my-3" style="font-family: 'Jua', sans-serif;">내 활동 내역</h2>
            <div class="list-group-item" style="font-family: 'Jua', sans-serif;color: black">작성한 게시글 수 : 3</div>
            <div class="list-group-item" style="font-family: 'Jua', sans-serif;color: black"> 작성한 댓글 수 : 4</div>
            <div class="list-group-item" style="font-family: 'Jua', sans-serif;color: black">내 포인트 : 0</div>
        </div>

    </div>
</th:block>