<th:block th:fragment="navbarFragment">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-family: 'Jua', sans-serif;font-size: 2rem;margin-left: 20rem">
                <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230331023113818.png"
                     alt="image-20230331022559957" height="30"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link active" href="/posts/qna"
                           style="font-family: 'Jua', sans-serif;font-size: 1.5rem;color: #70AD47">Q&A
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts/community"
                           style="font-family: 'Jua', sans-serif;font-size: 1.5rem;color: #63993E">커뮤니티
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts/study"
                           style="font-family: 'Jua', sans-serif;font-size: 1.5rem;color: #598A39"> 스터디
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts/notice"
                           style="font-family: 'Jua', sans-serif;font-size: 1.5rem;color: #3C5E26">공지사항
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/items"
                           style="font-family: 'Jua', sans-serif;font-size: 1.5rem;color: #3C5E26">굿즈
                        </a>
                    </li>
                    <!--          <li class="nav-item dropdown">-->
                    <!--            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                    <!--            <div class="dropdown-menu">-->
                    <!--              <a class="dropdown-item" href="#">Action</a>-->
                    <!--              <a class="dropdown-item" href="#">Another action</a>-->
                    <!--              <a class="dropdown-item" href="#">Something else here</a>-->
                    <!--              <div class="dropdown-divider"></div>-->
                    <!--              <a class="dropdown-item" href="#">Separated link</a>-->
                    <!--            </div>-->
                    <!--          </li>-->
                </ul>
                <div style="margin-right: 20rem">
                    <div sec:authorize="isAnonymous()">

                        <button type="button" class="btn btn-sm mx-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" style="color: white;background-color: #5B62F4;
  border-color: #17a2b8;">
                            회원가입 · 로그인
                        </button>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button type="button" class="btn btn-sm mx-2" style="background-color: #378DFC;color: white"
                                th:onclick="location.href = '/users/mypage'">
                            마이페이지
                        </button>
                        <button type="submit" class="btn btn-sm mx-2" th:onclick="location.href = '/logout'">
                            로그아웃
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="division">
                                <div class="line l"></div>
                                <h4 style="font-family: 'Jua', sans-serif;">GitHub 인증</h4>
                                <div class="line r"></div>
                            </div>
                            <div class="social">
                                <a class="circle github"
                                   th:onclick="'window.open(\'https://github.com/login/oauth/authorize?client_id=' + @{{clientId}(clientId=${@environment.getProperty('github.client-id')})} + '\')'">
                                    <i class="fa fa-github fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div style="font-family: 'Jua', sans-serif;">↑ Click!</div>
                            </div>
                            <div align="center">
                                <button type="button" class="btn btn-sm mx-2" data-bs-dismiss="modal"
                                        style="background-color: #FFC107;color:white;">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div align="center">
                                <p id="alertMessage" style="font-family: 'Jua', sans-serif;font-size: 30px"></p>
                                <button type="button" class="btn btn-sm mx-2" data-bs-dismiss="modal"
                                        style="background-color: #FFC107;color:white;">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <!-- Button trigger modal -->
</th:block>