<!-- header -->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<body>
<th:block th:replace="~{layout/navbar :: navbarFragment}"></th:block>

<!-- Page Content -->


<div class="container ">
    <!-- Button trigger modal -->


    <div class="row">

        <th:block th:replace="~{layout/leftbar :: leftbarFragment}"></th:block>

        <div class="col-lg-8">

            <th:block th:replace="~{layout/adbar :: adbarFragment}"></th:block>

            <div class="card border-primary my-lg-5">
                <div class="card-body">
                    <h4 class="card-title" style="color: #63993E;">커뮤니티</h4>
                    <p class="card-text">🤝🏻 다양한 사람들과 다양한 이야기를 자유롭게 나눠봐요!</p>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" th:onclick="location.href = '/posts/write'"><i
                    class="	fa fa-pencil"></i> 작성하기
            </button>
            <th:block th:replace="~{layout/searchBox :: searchBoxFragment}"></th:block>

            <th:block th:replace="~{layout/postBlock :: postBlockFragment}"></th:block>

            <!-- /.row -->
            <br>

            <div>
                <ul class="pagination pagination-sm">
                    <th:block th:if="${searchCondition != 'none'}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/posts/community(searchCondition=${searchCondition},keyword=${keyword},page=${previous})}">&laquo;</a>
                        </li>
                        <th:block th:if="${numberOfPages !=0}">
                            <th:block th:with="end=${numberOfPages}">
                                <li class="page-item active" th:each="num : ${#numbers.sequence(1,end)}">
                                    <a class="page-link" th:href="@{/posts/community(searchCondition=${searchCondition},keyword=${keyword},page=${num-1})}" th:text="|${num}|"></a>
                                </li>
                            </th:block>
                        </th:block>
                        <th:block th:if="${numberOfPages ==0}">
                            <li class="page-item active">
                                <a class="page-link" th:href="@{/posts/community(searchCondition=${searchCondition},keyword=${keyword},page=0)}" th:text="1"></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/posts/community(searchCondition=${searchCondition},keyword=${keyword},page=${next})}">&raquo;</a>
                        </li>
                    </th:block>
                    <th:block th:if="${searchCondition == 'none'}">

                        <li class="page-item">
                            <a class="page-link" th:href="@{/posts/community(page=${previous})}">&laquo;</a>
                        </li>
                        <th:block th:if="${numberOfPages !=0}">
                            <th:block th:with="end=${numberOfPages}">
                                <li class="page-item active" th:each="num : ${#numbers.sequence(1,end)}">
                                    <a class="page-link" th:href="@{/posts/community(page=${num-1})}" th:text="|${num}|"></a>
                                </li>
                            </th:block>
                        </th:block>
                        <th:block th:if="${numberOfPages ==0}">
                            <li class="page-item active">
                                <a class="page-link" th:href="@{/posts/community(page=0)}" th:text="1"></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/posts/community(page=${next})}">&raquo;</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!-- /.col-lg-8 -->


        <th:block th:replace="~{layout/rightbar :: rightbarFragment}"></th:block>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>

<!-- Bootstrap core JavaScript -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
