<!-- header -->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<body>
<th:block th:replace="~{layout/navbar :: navbarFragment}"></th:block>

<!-- Page Content -->


<div class="container ">
    <!-- Button trigger modal -->


    <div class="row">

        <th:block th:replace="~{layout/leftbar :: leftbarFragment}"></th:block>

        <div class="col-lg-8">

            <th:block th:replace="~{layout/adbar :: adbarFragment}"></th:block>

            <div class="card border-primary my-lg-5">
                <div class="card-body">
                    <h4 class="card-title" style="color: #3C5E26;">공지사항</h4>
                    <p class="card-text">📢 GrowITh의 새로운 소식을 확인해보세요!</p>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <button type="submit" class="btn btn-outline-primary" th:onclick="location.href = '/posts/write'"><i
                        class="	fa fa-pencil"></i> 작성하기
                </button>
            </div>

            <form class="d-flex my-3">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <th:block th:replace="~{layout/postBlock :: postBlockFragment}"></th:block>

            <!-- /.row -->
            <br>

            <div>
                <ul class="pagination pagination-sm" >
                    <li class="page-item">
                        <a class="page-link" th:href="@{/posts/notice(page=${previous})}">&laquo;</a>
                    </li>
                    <th:block th:if="${numberOfPages !=0}">
                    <th:block th:with="end=${numberOfPages}">
                        <li class="page-item active" th:each="num : ${#numbers.sequence(1,end)}">
                            <a class="page-link" th:href="@{/posts/notice(page=${num-1})}" th:text="|${num}|"></a>
                        </li>
                    </th:block>
                    </th:block>
                    <th:block th:if="${numberOfPages ==0}">
                            <li class="page-item active">
                                <a class="page-link" th:href="@{/posts/notice(page=0)}" th:text="1"></a>
                            </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/posts/notice(page=${next})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-lg-8 -->

        <th:block th:replace="~{layout/rightbar :: rightbarFragment}"></th:block>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>

<!-- Bootstrap core JavaScript -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
