<!-- header -->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<body>

<!-- Navigation -->
<th:block th:replace="~{layout/navbar :: navbarFragment}"></th:block>

<!-- Page Content -->


<div class="container mt-lg-5">
    <!-- Button trigger modal -->

    <div class="row">


        <div class="col-lg-2 mt-lg-5">
            <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">

                <th:block th:unless="${myPostBtn}">
                    <input type="radio" class="btn-check" name="defaultType" id="btnradio1" checked="checked"
                           value="myInfo"
                           onclick="myInfo()">
                    <label class="btn btn-outline-primary" for="btnradio1"
                           style="font-family: 'Jua', sans-serif;font-size: 25px;font-weight: lighter;">내 정보</label>

                    <input type="radio" class="btn-check" name="defaultType" id="btnradio2" value="myPost"
                           onclick="myPost()">
                    <label class="btn btn-outline-primary" for="btnradio2"
                           style="font-family: 'Jua', sans-serif;font-size: 25px;font-weight: lighter;">내가 쓴 게시글</label>
                </th:block>

                <th:block th:if="${myPostBtn}">
                    <input type="radio" class="btn-check" name="defaultType" id="btnradio1" value="myInfo"
                           onclick="myInfo()">
                    <label class="btn btn-outline-primary" for="btnradio1"
                           style="font-family: 'Jua', sans-serif;font-size: 25px;font-weight: lighter;">내 정보</label>

                    <input type="radio" class="btn-check" name="defaultType" id="btnradio2" checked="checked"
                           value="myPost"
                           onclick="myPost()">
                    <label class="btn btn-outline-primary" for="btnradio2"
                           style="font-family: 'Jua', sans-serif;font-size: 25px;font-weight: lighter;">내가 쓴 게시글</label>
                </th:block>
            </div>

        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <div id="myInfo">
                        <div class="row">
                            <img th:src="${user.imageUrl}"
                                 class="avatar avatar-sm me-3 border-radius-sm"
                                 style=" border-radius: 70%;width: 20rem">
                        </div>
                        <div class="form-group my-lg-3">
                            <fieldset>
                                <span class="badge bg-primary" style="font-size: 15px">ID</span>
                                <span class="badge rounded-pill bg-info" id="input-userName" name="userName"
                                      th:value="${user.userName}" th:text="${user.userName}"
                                      th:data-user="${user.userName}"
                                      style="font-size: 15px">Secondary</span>
                            </fieldset>
                        </div>
                        <div class="form-group my-lg-3">
                            <fieldset>
                                <span class="badge bg-primary" style="font-size: 15px">Point</span>
                                <span class="badge rounded-pill bg-info" th:text="|${user.point} p|"
                                      style="font-size: 15px">Secondary</span>
                            </fieldset>
                        </div>

                        <button type="submit" class="btn btn-outline-primary my-3" formtarget="_blank"
                                th:onclick="'window.open(\'' + @{{githubUrl}(githubUrl=${user.githubUrl})} + '\')'">
                            <i
                                    class="	fa fa-github fa-fw" style="font-size: 20px"></i> Github
                        </button>
                        <th:block th:if="${user.blog !=''}">
                        <button type="submit" class="btn btn-outline-primary my-3" formtarget="_blank"
                                th:onclick="'window.open(\'' + @{{blog}(blog=${user.blog})} + '\')'">
                            <i class="	fa fa-rocket" style="font-size: 20px"></i> Blog
                        </button>
                        </th:block>
                        <th:block th:if="${user.blog == ''}">
                            <button type="submit" class="btn btn-outline-primary my-3 disabled" formtarget="_blank">
                                <i class="	fa fa-rocket" style="font-size: 20px"></i> Blog
                            </button>
                        </th:block>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div id="myInfo2">
                        <div class="row">
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-nickName">닉네임</label>
                                    <input class="form-control" id="input-nickName" type="text"
                                           th:value="${user.nickName}">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-email">이메일</label>
                                    <input class="form-control" id="input-email" type="text"
                                           th:value="${user.email}">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-blog">블로그 주소</label>
                                    <input class="form-control" id="input-blog" type="text"
                                           th:value="${user.blog}">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-roadNameAddress">도로명 주소</label>
                                    <input class="form-control" id="input-roadNameAddress" type="text"
                                           th:value="${user.roadNameAddress != null ? user.roadNameAddress : ''}">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-detailedAddress">상세 주소</label>
                                    <input class="form-control" id="input-detailedAddress" type="text"
                                           th:value="${user.detailedAddress != null ? user.detailedAddress : ''}">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="input-postalCode">우편번호</label>
                                    <input class="form-control" id="input-postalCode" type="text"
                                           th:value="${user.postalCode != null ? user.postalCode : ''}">
                                </fieldset>
                            </div>
                        </div>
                        <br>
                        <!-- /.row -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" th:onclick="|user.update(${user.id})|"
                                    class="btn btn-outline-light">정보 수정
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myPost" class="mt-3" hidden>
                <th:block th:replace="~{layout/postBlock :: postBlockFragment}"></th:block>

                <div>
                    <ul class="pagination pagination-sm">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/users/mypage(page=${previous})}">&laquo;</a>
                        </li>
                        <th:block th:if="${numberOfPages !=0}">
                            <th:block th:with="end=${numberOfPages}">
                                <li class="page-item active" th:each="num : ${#numbers.sequence(1,end)}">
                                    <a class="page-link" th:href="@{/users/mypage(page=${num-1})}"
                                       th:text="|${num}|"></a>
                                </li>
                            </th:block>
                        </th:block>
                        <th:block th:if="${numberOfPages ==0}">
                            <li class="page-item active">
                                <a class="page-link" th:href="@{/users/mypage(page=0)}" th:text="1"></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/users/mypage(page=${next})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-1">
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-8">

        </div>
        <div class="col-lg-1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-8">
            <div id="myInfo3" class="my-3">
                <div class="card bg-light mb-3">
                    <div class="calendar">
                        <!-- Loading stuff -->
                        Loading data ...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>

<!-- Bootstrap core JavaScript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>
<script>
    $(function () {
        const userName = document.querySelector("#input-userName").dataset.user;

        GitHubCalendar(".calendar", userName, {responsive: true, tooltips: false, global_stats: false})
            .then(function () {
                document.getElementsByClassName('calendar')[0].style.minHeight = "5px";
                document.getElementsByClassName('calendar')[0].style.width = "100%";
                document.getElementsByClassName('width-full f6 px-0 px-md-5 py-1')[0].remove();
                document.getElementsByClassName('float-right')[0].remove();
            });
    });
</script>
<script>

    $(function () {
        const parentTypeNodeList = document.getElementsByName('defaultType')
        let defaultType = 0;
        parentTypeNodeList.forEach((node) => {
            if (node.checked) {
                defaultType = node.value;
            }
        })
        if (defaultType == 'myPost') {
            myPost()
        } else {
            myInfo()
        }

    });

    $(function () {
        const parentTypeNodeList = document.getElementsByName('defaultType')
        let defaultType = 0;
        parentTypeNodeList.forEach((node) => {
            if (node.checked) {
                defaultType = node.value;
            }
        })
        if (defaultType == 'myPost') {
            myPost()
        } else {
            myInfo()
        }

    });

    function show(id) {
        if (document.getElementById(id) != null) {
            document.getElementById(id).removeAttribute("hidden")
        }
    }

    function hide(id) {
        if (document.getElementById(id) != null) {
            document.getElementById(id).setAttribute("hidden", "true")
        }
    }

    function myPost() {
        hide('myInfo');
        hide('myInfo2');
        hide('myInfo3');
        show('myPost');
    }

    function myInfo() {
        show('myInfo');
        show('myInfo2');
        show('myInfo3');
        hide('myPost');
    }

    let user = {
        init: function () {
            var _this = this;
        },
        update: function (userId) {
            let data = {
                nickName: document.querySelector('#input-nickName').value.trim(),
                blog: document.querySelector('#input-blog').value.trim(),
                email: document.querySelector('#input-email').value.trim(),
                roadNameAddress: document.querySelector('#input-roadNameAddress').value.trim(),
                detailedAddress: document.querySelector('#input-detailedAddress').value.trim(),
                postalCode: document.querySelector('#input-postalCode').value.trim()
            };
            var con_check = false;
            console.log(data);
            $('#askMessage').text("정보를 수정 하시겠습니까?");
            $('#askModal').modal('show');

            var confirmBtn = document.getElementById('confirm-Btn');
            confirmBtn.addEventListener("click", function() {
                con_check = true;
                if (con_check === true) {
                    axios.patch("/api/v1/users/" + userId,
                        JSON.stringify(data), {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then((response) => {
                        $('#finalMessage').text("완료되었습니다.");
                        $('#finalModal').modal('show');
                        $('#final-Btn').click(function() {
                            location.reload();
                        });
                    }).catch((error) => {
                        console.log(error);
                        $('#alertMessage').text(error.response.data.result);
                        $('#alertModal').modal('show');
                    });
                };
            });


        }
    };
</script>
</body>

</html>
