<!-- header -->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<body>

<!-- Navigation -->
<th:block th:replace="~{layout/navbar :: navbarFragment}"></th:block>

<!-- Page Content -->


<div class="container">
    <!-- Button trigger modal -->


    <div class="row">

        <div class="col-lg-2 mt-lg-5">
            <button type="button" class="btn btn-outline-light my-3" data-bs-container="body"
                    data-bs-toggle="popover" data-bs-placement="bottom"
                    data-bs-content="GrowITh에 가입된 회원 수 입니다.🌱"
                     aria-describedby="popover704957">   <i class="	fas fa-seedling" style="font-size: 20px; color: #70AD47"></i> <p th:text="|새싹 ${numberOfUsers}개 성장 중|"></p></button>

        </div>

        <div class="col-lg-8">

            <th:block th:replace="~{layout/adbar :: adbarFragment}"></th:block>

            <div class="row">


            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-8 -->

        <th:block th:replace="~{layout/rightbar :: rightbarFragment}"></th:block>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<th:block th:replace="~{layout/footer :: footerFragment}"></th:block>

<!-- Bootstrap core JavaScript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $( function () {
        $( '[data-bs-toggle="popover"]' ).popover()
    } );
</script>
</body>

</html>
